<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <h2><a routerLink="/" class="navbar-brand">Codebin</a></h2>
  <div class="container">
     
      <ul class="navbar-nav me-auto  mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/createBin" routerLinkActive="active"
            >Create Bin</a
          >
        </li>
        @if(authService.isAuthenticated()){

        <li class="nav-item" (click)="authService.logOutUser()">
          <a class="nav-link">Log Out </a>
        </li>
        }@else {

        <li>
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active"
            >Sign Up</a
          >
        </li>
        }

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About</a
          >
        </li>
      </ul>
    </div>
  
</nav> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <ul
      class="nav navbar-nav justify-content-center align-items-center me-auto mt-lg-0"
    >
      <li class="nav-item">
        <h2>
          <a routerLink="/" class="navbar-brand h2">Codebin</a>
        </h2>
      </li>

      <ul class="nav justify-content-center align-items-center border px-3">
        @if(authService.isAuthenticated()){
        <li class="nav-item">
          <a class="nav-link" routerLink="/createBin" routerLinkActive="active"
            >Create Bin</a
          >
        </li>

        }@else {

        <li>
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active"
            >Sign Up</a
          >
        </li>
        }

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About</a
          >
        </li>

        @if(authService.isAuthenticated()){
        <li class="nav-item border">
          <a class="nav-link" routerLink="/myprofile" routerLinkActive="active">
            My Profile
          </a>
        </li>
        <li class="nav-item">
          <a href="">
            <button class="Btn" (click)="authService.logOutUser()">
              <!-- <button class="Btn"> -->

              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                  ></path>
                </svg>
              </div>

              <div class="text">Logout</div>
              <!-- </button> -->
            </button>
          </a>
        </li>

        }
      </ul>
    </ul>
  </div>
</nav>
