<div class="container center">
  <div class="mb-3 container my-5">
    <div class="form-container">
      <form class="form" [formGroup]="BinForm">
        <div class="form-group">
          <label for="title">Snippet Title</label>
          <input
            type="text"
            placeholder="Title"
            [formControl]="title"
            required=""
          />
        </div>
        <div class="form-group">
          <label for="textarea">Code Snippet </label>
          <textarea
            name="textarea"
            id="textarea"
            rows="10"
            cols="50"
            type="text"
            class="code-input"
            placeholder="Code Snippet Here"
            [formControl]="code"
          >
          </textarea>
        </div>
        <button
          type="button"
          class="btn btn btn-success submit"
          (click)="save()"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
